body {
    font-family: cursive;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
}

ul li {
    
    float: left;
    background: url(../navegação_com_abas/img/aba-direita2.png) no-repeat top right;
    
}

li a {
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    background: url(../navegação_com_abas/img/aba-esquerda2.png) no-repeat top left;
}

ul a:hover {
    color: black;
}

ul #atual {
    background: url(../navegação_com_abas/img/aba-direita-atual.png);
}

ul #atual a {
    background: url(../navegação_com_abas/img/aba-direita-atual.png) no-repeat top left;
    