body, html {
    margin: 0px;
    font-family: sans-serif;
    color: #777;
    /*Importante para o efeito parallax*/
    height: 100%;
}

.conteudo-principal {
    position: absolute;
    top: 50%; left: 40%;
    background-color: #111111;
    color: #ffffff;
    padding: 20px;
    font-size: 20px;
    z-index: 1;
}

.conteudo {
    color: #777777;
    background-color: #ffffff;
    text-align: justify;
    padding: 50px 80px ;
}

h1, h2 {
    color: #111111;
    text-align: center;
    padding: 20px;
}

.box1, .box2, .box3 {
    position: relative; height: 100%;

    /*Deixar a imagem menos opaca*/
    opacity: 0.5;
    background-repeat: no-repeat;
    /*cobrir toda a area do background*/
    background-size: cover;
    /*produzindo o efeito parallax*/
    background-attachment: fixed;
}

.box1 {
    background-image: url(../parallax/img/SS.png)
}

.box2 {
    background-image: url(../parallax/img/s.png)
}

.box3 {
    background-image: url(../parallax/img/ed.png)
}