* {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 4%;
}

footer {
    clear: both;
    background-color: #333;
    color: #fff;
    padding: 2%;
    text-align: center;
}

main {
    margin: 0px auto;
    width: 930px;
}

#caixa1 {
    width: 180px; height: 200px;
    padding: 10px; margin: 10px;
    background: green;
    margin-right: 20px;
    border-radius: 10px;
    float: left;
}

#caixa2 {
    width: 180px; height: 200px;
    padding: 10px; margin: 10px;
    background: aqua;
    margin-right: 20px;
    border-radius: 10px;
    float: left;
}

#caixa3 {
    width: 180px; height: 200px;
    padding: 10px; margin: 10px;
    background: rebeccapurple;
    margin-right: 20px;
    border-radius: 10px;
    float: left;
}

#caixa4 {
    width: 180px; height: 200px;
    padding: 10px; margin: 10px;
    background: whitesmoke;
    margin-right: 20px; border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(226, 8, 8, 0.6);
    float: left;
}

#caixa1 h1  {
    color: #fff;
    /*3px é a distancia*/
    text-shadow: 3px 3px 3px rgb(0, 0, 0, 1);
}

#caixa2 h1 {
    color: #fff;
    /*0.3 é o blur*/
    text-shadow: 3px 3px 3px rgba(217, 0, 255, 1);

}

#caixa3 h1{
    color: #fff;
    /*3px é o blur*/
    text-shadow: 3px 3px 3px rgb(116, 232, 8, 1);  

}

