.titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    position: center;
    text-align: center;
}

.espacamento-1 {
    width: 50%;
    height: 100px;
    border: 1px solid red;

    /* Espaçamento inteiro */
    padding: 25px 30px 25px 30px;
}


.espacamento-2 {
    width: 50%;
    height: 100px;
    border: 1px solid blue;

    /* Espaçamento inteiro */
    padding: 25px 30px 25px 30px;
}

.espacamento-3 {
    width: 50%;
    height: 100px;
    border: 1px solid green;

    /* Espaçamento inteiro*/
    padding: 25px 30px;
}
