* {
    margin: 0px; padding: 0px;
    font-family: cursive;
    font-weight: bold;
}

header {
    width: 100%;
    height: 200px;
    /*Centralização vertical do texto */
    line-height: 200px;
    background-color: #d14606;
    /*Centralização horizontal do texto*/
    text-align: center;
    color: #ffffff;
}

main {
    width: 80%;
    height: 150px;
    margin: 0px auto;
    margin-top: 0.5%;
    background-color: white;
    border-radius: 7px;
    padding: 5%;
}

article {
    padding: 2%;
    color: #d14606;
    font-size: .9em;
}

footer {
    width: 100%;
    height: 50px;
    margin-top: 2%;
    /*Centralização vertical do texto */
    line-height: 50px;
    background-color: black;
    /*Centralização horizontal do texto*/
    text-align: center;
    font-size: .8em;
    color: #ffffff;
}

 /*Inicio da navegação*/
 nav {
    background-color: #ffffff;
    border-radius: 7px;
    padding: 10px;
    width: 200px;
    margin-left: 1%;
    margin-right: 10%;
    border:  2px solid blue;
    float: left;
 }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #b04c1e;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color 1s ease;
}

a:hover { /* mude sua aparência quando o mouse é colocado sobre ele.*/
    background-color: red;
    color: white;
   
}
/*FIM DA NAVEGAÇÃO*/

header h1 {
    transition: background-color 1s ease;
}

header h1:hover{
    background-color: red ;
    
}