h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
}

/*a é filhod de li */
li > a {
    color: blueviolet;
    font-size: 2em;
}

/*a é filho de p*/
a {
    color: black;
    font-size: 2em;
    margin-left: 20px;
}