.conteudo1{
    background: blue;
    border: 1px solid gray;
    width: 150px;
    right: 150px;
    float: left;
}

.conteudo2{
    background: greenyellow;
    border: 1px solid gray;
    width: 150px;
    right: 150px;
    float: left;
    
}


.conteudo3{
    background: red;
    border: 1px solid gray;
    width: 150px;
    right: 150px;
    float: left;
}

