*{
    font-family: cursive;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

p{
    padding-bottom: 2%;
}

h3 {
    color: blueviolet;
   
}

header {
    width: 100%;
    height: 500px;
    line-height: 500px;
    background-color: black;
    text-align: center;
    color: #ffffff;
    background-repeat: no-repeat;
    
}
main {
    width: 720px;
    height: 300px;
    margin: 0px auto;
    background-color: #ffffff;
    margin-top: 1%;
}

article {
    color: #d14606;
    font-size: .9em;
    padding: 2.5%;
    clear: both;
}

footer {
    width: 100%;
    height: 50px;
    margin-top: 2%;
    line-height: 50px;
    background-color: black;
    text-align: center;
    font-size: .9em;
    color: #ffffff;
}

nav {
    background-color: gray;
    margin-left: 0px auto;
   
}

ul {
    margin: 0px ;
    padding: 0px;

    list-style-type: none;
    background-color: blueviolet;
    float: left;
}

ul li {
    float: left;
}

ul a {
    display: block;
    width: 100px;
    padding: 0 2.5em;
    line-height: 2.5em;
    text-align: center;
    color: #ffffff;
}

a:hover{
    color: #ffffff;
    background-color: blueviolet;
}